#root {
    height: 100vh;
}
.sider-menu-logo {
	position: relative;
    cursor: pointer;
    padding: 0px 24px;
    overflow: hidden;
    background: rgb(0, 21, 41);
    transition: all 0.3s ease 0s;
    height: 64px;
    display: flex;
    align-items: center;
    img {
        width: 32px;
        height: 32px;
    }
    h1 {
        margin: 0;
        padding-left: 8px;
        color: white;
        white-space: nowrap;
    }
}